@mixin flex-center-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-center-between($direction: row) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}
