@use "../../style/variables" as var;
@use "../../style/mixin" as mix;

.sidebar {
  background-color: var.$light-blue;
  width: 25%;
  height: calc(100vh - 100px);
  margin: 20px;
  border-radius: 20px;
}
